.box-rounded
  .row
    .col-md-1.center
      %img.img-circle{src: @profile.image, vspace: 30}
    .col-md-11
      %h1= @profile.name
      %button.btn.btn-success= pluralize(@profile.score, 'Ponto')
      - unless @profile.position.nil?
        %button.btn.btn-info= "##{@profile.position}"

.box-rounded
  %h2= "Apostas"
  = render partial: "guesses_table", locals: {guesses: @profile.public_guesses}
