.box-rounded.visible-xs.center
  %h1
    = @match.team_a.name
    %br/
    %img.img-circle.small-flag{src: @match.team_a.flag} 
    = @match.goals_a
    = "X"
    = @match.goals_b
    %img.img-circle.small-flag{src: @match.team_b.flag}
    %br/
    = @match.team_b.name

.box-rounded.hidden-xs.center
  %h1
    = @match.team_a.name
    %img.img-circle.small-flag{src: @match.team_a.flag} 
    = @match.goals_a
    = "X"
    = @match.goals_b
    %img.img-circle.small-flag{src: @match.team_b.flag}
    = @match.team_b.name

.box-rounded.visible-xs
  %span.glyphicon.glyphicon-time
  = @match.data_hora
  - if @match.is_open_to_guesses?
    = "&nbsp;".html_safe
    %a.btn.btn-danger.btn-xs{href: my_guesses_path} Apostar!
  - unless @match.scorers.empty?
    = " | "
    - @match.scorers.each do |guess|
      %a{href: user_profile_path(guess.user)}
        %img.img-circle{src: guess.user.image, width: 25, "data-toggle" => "tooltip", "data-placement" => "top", title: guess.user.name}

- if @match.is_open_to_guesses?
  .box-rounded
    %h2
      %small
        %span.glyphicon.glyphicon-info-sign
        = "Jogo ainda não iniciado! Volte em breve para ver as apostas dos outros usuários"
- else
  %h3 Apostas
  .box-rounded
    %table.table
      %thead
        %th
        %th.center Aposta
        %th.center Pontuação
      - @match.guesses.each do |guess|
        %tr
          %td
            %a{href: user_profile_path(guess.user)}
              %img.img-circle.hidden-xs{src: guess.user.image, width: 25, hspace: 5}
            %a{href: user_profile_path(guess.user)}
              = guess.user.name
          %td.center
            = guess
          %td.center
            - if guess.score > 0
              %span{class: guess.score_classes}
                = "+#{guess.score}"